# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**
* List Popular Languages in Data Science
* List Common Libraries used by Data Scientists
* List Data Science Tools
* Examples of arithmatic calculations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-learn
4. matplotlib

|Data Science Tools|
|-------------|
|Jupyter|
| R Studio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Eli Van Cleve